<html>
<head>
    <title>Zuul Queue Status Graphs</title>

<style type='text/css'>
a:link {color:#808080; text-decoration:none;}
a:visited {color:#808080; text-decoration:none;}
a:hover {color:#808080; text-decoration:underline;}
a:active {color:#808080;}
html *
{
    font-family: Arial;
}
body
{
    background-image: url('http://tripleo.org/_static/header_bg.jpg');
    background-repeat: repeat-x;
}
.sectionarea
{
    border: 4px solid #808080;
    margin: 5px;
    background: #f2f2f2;
    font-size: 12px;
}
.jobinfo
{
    background-color: #f2f2f2;
    font-size: 12px;
}
.jobtitle-purple
{
    background-color: #fff;
    color: #7300be;
    font-size: 12px;
    font-weight: bold;
}
.jobtitle-black
{
    background-color: #fff;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
}
table
{
    border-spacing: 10px 0px;
    border-collapse: collapse;
}
td
{
    padding: 3px;
}
</style>

</head>
<body>
<center>
<a href='http://tripleo.org'><img src='http://tripleo.org/_static/tripleo_owl.svg' style='max-height: 100px'/></a>
{% if error %}
<h1><a href=''>Zuul Queue Status Graphs Error</a></h1>
Failed to retrieve queue status due to error:<br>
{{error}}
{% else %}
<h1><a href=''>Zuul Queue Status Graphs</a></h1>

<!-- Naughty: This is copy-pasted from the main template -->
<a href='/'>gate</a> |
<a href='/?queue=check'>check</a> |
<a href='/?queue=openstack-check&zuul=https://review.rdoproject.org/zuul/api/status'>RDO check-openstack</a> |
<a href='/?queue=experimental'>experimental</a> |
<a href='/?queue=all'>all</a> |
<a href='/graphs'>graphs</a>

<br><br>

{{all_data}}
<br>

{{gate_data}}
<br>

{{check_data}}
<br>

Generated by <a href="https://github.com/cybertron/zuul-status">https://github.com/cybertron/zuul-status</a>.<br>
Uptime: {{app_uptime}}<br>
<a href="https://www.openshift.com/" title="Powered by OpenShift Online">
  <img alt="Powered by OpenShift Online" src="https://www.openshift.com/images/logos/powered_by_openshift.png">
</a>
</center>
{% endif %}
</body>
</html>
