<html>
<head>
    <title>Zuul Queue Status - {{queue_name}}</title>

<style type='text/css'>
a:link {color:#808080; text-decoration:none;}
a:visited {color:#808080; text-decoration:none;}
a:hover {color:#808080; text-decoration:underline;}
a:active {color:#808080;}
html *
{
    font-family: Arial;
}
body
{
    background-image: url('http://tripleo.org/_static/header_bg.jpg');
    background-repeat: repeat-x;
}
.sectionarea
{
    border: 4px solid #808080;
    margin: 5px;
    background: #f2f2f2;
    font-size: 12px;
}
.jobinfo
{
    background-color: #e5e5e5;
    font-size: 12px;
}
.jobinfo tr:nth-child(even)
{
    background: #d5d5d5;
}
table
{
    border-spacing: 10px 0px;
    border-collapse: collapse;
}
td
{
    padding: 3px;
}
</style>

<script type='text/javascript'>
function ood()
{
    document.getElementById('ood_message').style.display = 'block';
}
</script>

</head>
<body>
<center>
<a href='http://tripleo.org'><img src='http://tripleo.org/_static/tripleo_owl.svg' style='max-height: 100px'/></a>
<h1><a href='/'>Zuul Queue Status - {{queue_name}}</a></h1>
<table class='sectionarea'>
<tr>
    <td style='color: green'>Running</td>
    <td style='color: blue'>Queued</td>
    <td style='font-weight: bold'>Complete</td>
    <td>Active</td>
    <td>Total</td>
    <td>Time</td></tr>
<tr>
    <td>{{running}}</td>
    <td>{{queued}}</td>
    <td>{{complete}}</td>
    <td>{{active}}</td>
    <td>{{total}}</td>
    <td>{{queue_time}}</td>
</tr>
</table>
<table class='sectionarea'>
    <tr>
        <td>#</td><td>Elapsed</td><td>Change #</td><td>Project</td><td>User</td>
    </tr>
{% for change in changes %}
    <tr>
        <td>{{change.number}}</td>
        <td>{{change.total}}</td>
        <td><a href='{{change.url}}'>{{change.id}}</a></td>
        <td>{{change.project}}</td>
        <td>{{change.user}}</td>
    </tr>
    <tr><td colspan='999'>
        <table class='jobinfo'>
        <tr>
        {% for job in change.jobs %}
            <td><a href='{{job.link}}' style='{{job.style}}'>{{job.name}}</a><br>
            {{job.elapsed}}/{{job.etc}}</td>
            {% if loop.index is divisibleby 8 %}
                </tr><tr>
            {% endif %}
        {% endfor %}
        </tr>
        </table>
    </td></tr>
{% endfor %}
</table>
Generated by <a href="https://github.com/cybertron/zuul-status">https://github.com/cybertron/zuul-status</a>.<br>
View other queues:<br>
<a href='/?queue=experimental-tripleo'>experimental-tripleo</a><br>
<a href='/?queue=experimental'>experimental</a><br>
<a href='/?queue=gate'>gate</a><br>
<a href='/?queue=check'>check</a><br>
</center>
</body>
</html>
